html{
    height: 100%;
}
body{
    width: 100%;
    min-height: 100%;
    margin: 0;
    font-family: 'M PLUS 1 Code', sans-serif;
    display: grid;
    grid-template-areas: "header" "contents" "footer";
    grid-template-rows: auto 1fr auto;
}
header{
    grid-area: header;
    height : 10em;
    padding: 10px 10% 10px 10%;
    background: rgba(0, 0, 0, 0.4) url(photo/denntuhuukann.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-wrapper{
    grid-area: contents;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-areas: "nav nav" "side main";
    grid-template-columns: 30% 1fr;
    grid-template-rows: auto 1fr;
}
nav{
    grid-area: nav;
}
main{
    grid-area: main;
    padding: 0 2em 2em 2em;
}
aside{
    grid-area: side;
    /*border-right: 2px solid rgb(23,40,139);*/
    padding: 0 2em 2em 2em;
}
footer{
    grid-area: footer;
    padding: 1em;
    background: rgb(23,40,139);
    color: white;
    text-align: center;
}
iframe{
    width: 100%;
}
ul{
    padding-left: 2em;
}
a{
    color: blue;
}
p{
    text-indent:1em;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.breadcrumbs{
    list-style: none;
}
.breadcrumbs li{
    display: inline;
    list-style: none;
}
.breadcrumbs li:after{
    content: '>';
    padding: 0 0.2em;
}
.breadcrumbs li:last-child:after {
    content: '';
}
.link{
    transition: 0.5s;
}
.link_child{
    display: none;
}
.link_parent:hover ul{
    display: block;
    animation: fadeIn 0.5s ease 0.01s 1 normal backwards;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.imglinks{
    display: flex;
}
.imglink{
    width: 30%;
    padding: 1.5%;
    color: black;
    transition: 0.2s;
    cursor: pointer;
}
.imglink img{
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
}
.imglink:hover{
    transform: scale(1.05);
}
.icon{
    width: 100%;
    border-radius: 50%;
}
.boxlink{
    transition: 0.5s;
    border: 1px solid rgb(23,40,139);
    margin:20px auto 20px auto;
    padding: 20px;
    justify-content: center;
    background: white;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
    cursor: pointer;
}
.boxlink:hover{
    transform: scale(1.05);
}
.boxlink_flex{
    display: flex;
    align-items: center;
}
.boxlink_flex div{
    padding: 0 20px 0 20px;
    flex-grow: 1;
}
.boxlink_flex img{
    flex-grow: 0;
    width: 150px;
    border-radius: 20px;
    box-sizing: border-box;
}
.page_img{
    width: 70%;
    margin: auto;
}
.page_img img{
    width: 100%;
}
